{% extends 'base.html' %}

{% block background %}
  <div id="bckgrnd">
  </div>
{% endblock %}

{% block menubar %}
<div id="wrapper">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">NotSpotify</a>
      </div>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav">
          <li><a href="index.html">Home</a></li>
          <li><a href="artists">Artist</a></li>
          <li class="active"><a href="albums">Albums</a></li>
          <li><a href="tracks">Tracks</a></li>
          <li><a href="about.html">About</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

{% endblock %}

{% block content %}



  <div class="container">
    <table id="table0">
      <thead>
        <tr>
          <th></th>
          <th>
            Name
            <a href="albums?sort=name"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
            <a href="albums?sort=name&order=desc"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a>
          </th>
          <th>
            Release Date
            <a href="albums?sort=release_date"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
            <a href="albums?sort=release_date&order=desc"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a>
          </th>
          <th>
            Number of Tracks
            <a href="albums?sort=number_of_tracks"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
            <a href="albums?sort=number_of_tracks&order=desc"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a>
          </th>
          <th>
            Number of Artists
            <a href="albums?sort=artists"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
            <a href="albums?sort=artists&order=desc"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a>
          </th>
          <th>
            Popularity
            <a href="albums?sort=popularity"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
            <a href="albums?sort=popularity&order=desc"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for album in albums %}
        <tr class='clickable-row' data-href="/album/{{album.id}}">
          <td>
            <img class="img-rounded" width="100px" src="{{album.image_url}}" />
          </td>
          <td>
            {{album.name}}
          </td>
          <td>
            {{album.release_date}}
          </td>
          <td>
            {{album.number_of_tracks}}
          </td>
          <td>
          <!-- TODO: Query number of artists -->
            1
          </td>
          <td>
            {{album.popularity}}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% if next_page_token %}
  <nav>
    <ul class="pager">
      <li><a href="?page_token={{next_page_token}}">More</a></li>
    </ul>
  </nav>
  {% endif %}

  {% endblock %}
