<!DOCTYPE html>
<html lang="en-us">
<head>
  <title>notspotify</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/artists.css') }}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="../static/scripts/jquery.ajax-cross-origin.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery.cycle.lite.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/clickable-row.js') }}"></script>
  {% block scripts %}
  <script>
  $(function(){
    $('a[href="#search"]').on('click', function(event){
      event.preventDefault();
      $('#search').addClass('open');
      $('#splashblock').addClass('ghost');
      $('.previewTrack').addClass('hidePreview');
      $('#search > form > input[type="search"]').focus();
    });

    $('#search, #search button.close').on('click keyup', function(event){
      if (event.target == this || event.target.className == 'close' || event.keyCode == 27) {
        $(this).removeClass('open');
        $('#splashblock').removeClass('ghost');
        $('.previewTrack').removeClass('hidePreview');
      }
    });
  });
  </script>
  {% endblock %}
</head>
<body>
    {% block background %}
    {% endblock %}
<div id="wrapper">
  {% block menubar %}
  {% endblock %}
</div>
{% block content %}
  <div id="search">
    <button type="button" class="close">x</button>
    <form method="get" action="/search">
      <input type="search" name="term" placeholder="Type search term(s) here">
    </form>
  </div>
{% endblock %}

</body>

</html>
