<!DOCTYPE html>
<html lang="en-us">
<head>
  <title>notspotify</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/artists.css') }}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery.cycle.lite.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/clickable-row.js') }}"></script>
  {% block scripts %}
  {% endblock %}
</head>
<body>
    {% block background %}
    {% endblock %}
<div id="wrapper">
  {% block menubar %}
  {% endblock %}
</div>
<div class="container">
  {% block content %}{% endblock %}
</div>
{% block extrabody %}
{% endblock %}

</body>

</html>
