
{% extends "base.html" %}

{% block background %}
<div id="bckgrnd">
</div>
{% endblock %}

{% block menubar %}
<div id="wrapper">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/index.html">NotSpotify</a>
      </div>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav">
          <li><a href="/index.html">Home</a></li>
          <li class="active"><a href="/artists">Artists</a></li>
          <li><a href="/albums">Albums</a></li>
          <li><a href="/tracks">Tracks</a></li>
          <li><a href="/about.html">About</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

{% endblock %}

{% block content %}
{% if not (artists or albums or artists) %}
	<h2 class="text-success center">Sorry nothing was found using {{term}}</h2>
{% else %}
	<h2 class="text-success center">Results for  <b>{{term}}</b></h2>
{% endif %}
{% if artists %}
<div class="container">
  <h2 class="text-success">Artists: {{artist_count}}</h2>
  <table id="table0">
     <thead>
       <tr>
         <th></th>
         <th>
           Name
    		   <!-- <a href="/search?term={{term}}&artist_sort=name&album_sort={{albums_sort_by}}&album_order={{albums_order}}&track_sort={{track_sory_by}}&track_order={{track_order}}"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
    		   <a href="/search?term={{term}}&artist_sort=name&artist_order=desc&album_sort={{albums_sort_by}}&album_order={{albums_order}}&track_sort={{track_sory_by}}&track_order={{track_order}}"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a> -->
         </th>
         <th>
           Followers
           <!-- <a href="/search?term={{term}}&artist_sort=followers&album_sort={{albums_sort_by}}&album_order={{albums_order}}&track_sort={{track_sory_by}}&track_order={{track_order}}"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
           <a href="/search?term={{term}}&artist_sort=followers&artist_order=desc&album_sort={{albums_sort_by}}&album_order={{albums_order}}&track_sort={{track_sory_by}}&track_order={{track_order}}"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a> -->
         </th>
         <th>
           Popularity
           <!-- <a href="/search?term={{term}}&artist_sort=popularity&album_sort={{albums_sort_by}}&album_order={{albums_order}}&track_sort={{track_sory_by}}&track_order={{track_order}}"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
           <a href="/search?term={{term}}&artist_sort=popularity&artist_order=desc&album_sort={{albums_sort_by}}&album_order={{albums_order}}&track_sort={{track_sory_by}}&track_order={{track_order}}"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a> -->
         </th>
       </tr>
     </thead>
     <tbody>
       {% for artist in artists %}
       <tr class="clickable-row" data-href="/artist/{{artist.id}}">
         <td>
           <img class="img-rounded" width="100px" src="{{artist.image_url}}" />
         </td>
         <td>
           {{artist.name}}
         </td>
         <td>
           {{artist.followers}}
         </td>
         <td>
         <div class="progress">
           <div class="progress-bar progress-bar-success" role="progressbar"
             aria-valuemin="0" aria-valuemax="100" style="width:{{artist.popularity}}%">
           </div>
         </div>
         </td>
       </tr>
       {% endfor %}
     </tbody>
   </table>
   <!-- Pages -->
   {% set prev_cursor = artist_cursor - artist_limit %}
   {% set next_cursor = artist_cursor + artist_limit %}

   <nav class="text-center">
     <ul class="pagination">
       {% if prev_cursor >= 0 %}
       <li class="page-item">
         <a class="page-link" href="?term={{term}}&artist_page_token={{prev_cursor}}" aria-label="Previous">
           <span aria-hidden="true">&laquo;</span>
           <span class="sr-only">Previous</span>
         </a>
       </li>
       {% endif %}
       {% if artist_count < artist_limit %}
       <li><a href="?term={{term}}&artist_page_token={{page}}">1</a></li>
       {% else %}
         {% for page in range(0, artist_count, artist_limit) %}
         {% if page > artist_cursor - (3 * artist_limit) and page < artist_cursor + (3 * artist_limit) %}
         <li><a href="?term={{term}}&artist_page_token={{page}}">{{(page // artist_limit) + 1}}</a></li>
         {% endif %}
         {% endfor %}
         {% if next_cursor < artist_count %}
         <li class="page-item">
           <a class="page-link" href="?term={{term}}&artist_page_token={{next_cursor}}" aria-label="Next">
             <span aria-hidden="true">&raquo;</span>
             <span class="sr-only">Next</span>
           </a>
         </li>
         {% endif %}
      {% endif %}
     </ul>
   </nav>
   <!-- end Pages -->
   {% endif %}
   {% if albums %}
   <div class="container">

   <h2 class="text-success">Albums: {{album_count}}</h2>
  <table id="table0">
    <thead>
      <tr>
        <th></th>
        <th>
          Name
          <!-- <a href="/search?term={{term}}&artist_sort={{artist_sort}}&artist_order={{artist_order}}&album_sort=name&track_sort={{track_sory_by}}&track_order={{track_order}}"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
          <a href="/search?term={{term}}&artist_sort={{artist_sort}}&artist_order={{artist_order}}&album_sort=name&album_order=desc&track_sort={{track_sory_by}}&track_order={{track_order}}"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a> -->
        </th>
        <th>
          Release Date
          <!-- <a href="/search?term={{term}}&artist_sort={{artist_sort}}&artist_order={{artist_order}}&album_sort=release_date&track_sort={{track_sory_by}}&track_order={{track_order}}"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
          <a href="/search?term={{term}}&artist_sort={{artist_sort}}&artist_order={{artist_order}}&album_sort=release_date&album_order=desc&track_sort={{track_sory_by}}&track_order={{track_order}}"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a> -->
        </th>
        <th>
          Number of Tracks
          <!-- <a href="/search?term={{term}}&artist_sort={{artist_sort}}&artist_order={{artist_order}}&album_sort=number_of_tracks&track_sort={{track_sory_by}}&track_order={{track_order}}"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
          <a href="/search?term={{term}}&artist_sort={{artist_sort}}&artist_order={{artist_order}}&album_sort=number_of_tracks&album_order=dessc&track_sort={{track_sory_by}}&track_order={{track_order}}"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a> -->
        </th>
        <th>
          Popularity
          <!-- <a href="/search?term={{term}}&artist_sort={{artist_sort}}&artist_order={{artist_order}}&album_sort=popularity&track_sort={{track_sory_by}}&track_order={{track_order}}"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
          <a href="/search?term={{term}}&artist_sort={{artist_sort}}&artist_order={{artist_order}}&album_sort=popularity&album_order=desc&track_sort={{track_sory_by}}&track_order={{track_order}}"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a> -->
        </th>
      </tr>
    </thead>
    <tbody>
      {% for album in albums %}
      <tr class='clickable-row' data-href="/album/{{album.id}}">
        <td>
          <img class="img-rounded" width="100px" src="{{album.image_url}}" />
        </td>
        <td>
          {{album.name}}
        </td>
        <td>
          {{album.release_date}}
        </td>
        <td>
          {{album.number_of_tracks}}
        </td>
        <td>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar"
            aria-valuemin="0" aria-valuemax="100" style="width:{{album.popularity}}%">
          </div>
        </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- Pages -->
  {% set prev_cursor = album_cursor - album_limit %}
  {% set next_cursor = album_cursor + album_limit %}

  <nav class="text-center">
    <ul class="pagination">
      {% if prev_cursor >= 0 %}
      <li class="page-item">
        <a class="page-link" href="?term={{term}}&album_page_token={{prev_cursor}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      {% endif %}
      {% if album_count < album_limit %}
      <li><a href="?term={{term}}&artist_page_token={{page}}">1</a></li>
      {% else %}
        {% for page in range(0, album_count, album_limit) %}
        {% if page > album_cursor - (3 * album_limit) and page < album_cursor + (3 * album_limit) %}
        <li><a href="?term={{term}}&album_page_token={{page}}">{{(page // album_limit) + 1}}</a></li>
        {% endif %}
        {% endfor %}
        {% if next_cursor < album_count %}
        <li class="page-item">
          <a class="page-link" href="?term={{term}}&album_page_token={{next_cursor}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
        {% endif %}
     {% endif %}
    </ul>
  </nav>
  <!-- end Pages -->
  </div>
  {% endif %}
  {% if tracks %}
  <div class="container">
  <h2 class="text-success">Tracks: {{track_count}}</h2>
   <table id="table0">
     <thead>
       <tr>
         <th>Name
           <!-- <a href="/search?term={{term}}&artist_sort={{artist_sort}}&artist_order={{artist_order}}&album_sort=name&album_order={{albums_order}}&track_sort=name"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
           <a href="/search?term={{term}}&artist_sort={{artist_sort}}&artist_order={{artist_order}}&album_sort=name&album_order={{albums_order}}&track_sort=name&track_order=desc"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a> -->
         </th>
         <th>
           Explicit
         </th>
         <th>Runtime
           <!-- <a href="/search?term={{term}}&artist_sort={{artist_sort}}&artist_order={{artist_order}}&album_sort=name&album_order={{albums_order}}&track_sort=runtime"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
           <a href="/search?term={{term}}&artist_sort={{artist_sort}}&artist_order={{artist_order}}&album_sort=name&album_order={{albums_order}}&track_sort=runtime&track_order=desc"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a> -->
         </th>
         <th>Popularity
           <!-- <a href="/search?term={{term}}&artist_sort={{artist_sort}}&artist_order={{artist_order}}&album_sort=name&album_order={{albums_order}}&track_sort=runtime"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
           <a href="/search?term={{term}}&artist_sort={{artist_sort}}&artist_order={{artist_order}}&album_sort=name&album_order={{albums_order}}&track_sort=runtime&track_order=desc"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a> -->
         </th>
         <th>Preview</th>
       </tr>
     </thead>
     <tbody>
       {% for track in tracks %}
       <tr class="clickable-row" data-href="/track/{{track.id}}">
         <td>
           {{track.name}}
         </td>
         <td>
           {% if track.explicit %}
           {{track.explicit}}
           {% endif %}
         </td>
         <td>
           {{track.runtime}}
         </td>
         <td>
           <div class="progress">
             <div class="progress-bar progress-bar-success" role="progressbar"
                aria-valuemin="0" aria-valuemax="100" style="width:{{track.popularity}}%">
             </div>
           </div>
         </td>
         <td>
           <audio controls>
           <source src={{track.preview_url}} type="audio/mpeg">
           </audio>
         </td>
       </tr>
       {% endfor %}
     </tbody>
   </table>
   <!-- Pages -->
   {% set prev_cursor = track_cursor - track_limit %}
   {% set next_cursor = track_cursor + track_limit %}

   <nav class="text-center">
     <ul class="pagination">
       {% if prev_cursor >= 0 %}
       <li class="page-item">
         <a class="page-link" href="?term={{term}}&track_page_token={{prev_cursor}}" aria-label="Previous">
           <span aria-hidden="true">&laquo;</span>
           <span class="sr-only">Previous</span>
         </a>
       </li>
       {% endif %}
       {% if track_count < track_limit %}
       <li><a href="?term={{term}}&track_page_token={{page}}">1</a></li>
       {% else %}
         {% for page in range(0, track_count, track_limit) %}
         {% if page > track_cursor - (3 * track_limit) and page < track_cursor + (3 * track_limit) %}
         <li><a href="?term={{term}}&track_page_token={{page}}">{{(page // track_limit) + 1}}</a></li>
         {% endif %}
         {% endfor %}
         {% if next_cursor < track_count %}
         <li class="page-item">
           <a class="page-link" href="?term={{term}}&track_page_token={{next_cursor}}" aria-label="Next">
             <span aria-hidden="true">&raquo;</span>
             <span class="sr-only">Next</span>
           </a>
         </li>
         {% endif %}
      {% endif %}
     </ul>
   </nav>
   <!-- end Pages -->
   {% endif %}
</div>
{% endblock %}
