
{% extends "base.html" %}

{% block background %}
<div id="bckgrnd">
</div>
{% endblock %}

{% block menubar %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/index.html">NotSpotify</a>
      </div>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav">
          <li><a href="/index.html">Home</a></li>
          <li><a href="/artists">Artists</a></li>
          <li><a href="/albums">Albums</a></li>
          <li><a href="/tracks">Tracks</a></li>
          <li><a href="/about.html">About</a></li>
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}

{% block content %}
<div class="container">
<h1 id="headerBorder">Track</h1>
<div class="media">
  <div class="media-left">
    <img class="album-image" src="{{track.artists[0].image_url}}">
  </div>
  <div class="media-body">
    <h1>{{track.name}}</h1>
    <div class="details">
      <div> 
          {% if track.explicit %}
                <img src="../static/explicit.jpg" height="40px">
          {% endif %}
      </div>
      <div><strong>Length:</strong> <div id=#runtime data-runtime={{track.runtime}}>
        {{track.runtime//60000}}:{{"{:0>2d}".format((track.runtime%60000)//1000)}}
        </div>
      </div>
      <div><strong>Popularity:</strong></div>
      <div class="progress">
        <div id="pg" class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow={{track.popularity}} aria-valuemin="0" aria-valuemax="100" style="width:{{track.popularity}}%">

          {{track.popularity}}
        </div>
      </div>
      <div>
        <audio controls>
          <source src={{track.preview_url}} type="audio/mpeg">
        </audio>
      </div>
    </div>
  </div>
</div>
<div>

<h1 id="headerBorder">Artist for: {{track.name}}</h1>
  <table id="table0">
    <thead>
      <tr>
        <th></th>
        <th>
          Name
        </th>
        <th>
          Followers
        </th>
        <th>
          Popularity
        </th>

      </tr>
    </thead>
    <tbody>
      {% for artist in track.artists %}
      <tr class="clickable-row" data-href="/artist/{{artist.id}}">
        <td>
          <img class="img-rounded" width="100px" src="{{artist.image_url}}" />
        </td>
        <td>
          {{artist.name}}
        </td>
        <td>
          {{artist.followers}}
        </td>
        <td>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" 
            aria-valuemin="0" aria-valuemax="100" style="width:{{artist.popularity}}%">
          </div>
        </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
