{% extends 'base.html' %}

{% block background %}
  <div id="bckgrnd">
  </div>
{% endblock %}

{% block menubar %}
<div id="wrapper">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/index.html">NotSpotify</a>
      </div>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav">
          <li><a href="/index.html">Home</a></li>
          <li><a href="/artists">Artists</a></li>
          <li><a href="/albums">Albums</a></li>
          <li class="active"><a href="/tracks">Tracks</a></li>
          <li><a href="/about.html">About</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

{% endblock %}

{% block content %}



  <div class="container">
    <table id="table0">
      <thead>
        <tr>
          <th>Name
            <a href="/tracks?sort=name"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
            <a href="/tracks?sort=name&order=desc"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a>
          </th>
          <th>
            Explicit
          </th>
          <th>Runtime
            <a href="/tracks?sort=runtime"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
            <a href="/tracks?sort=runtime&order=desc"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a>
            </th>
          <th>Popularity
            <a href="/tracks?sort=popularity"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
            <a href="/tracks?sort=popularity&order=desc"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a>
          </th>
          <th>Preview</th>
        </tr>
      </thead>
      <tbody>
        {% for track in tracks %}
		      <tr class="clickable-row" data-href="/track/{{track.id}}">
            <td>
              {{track.name}}
            </td>
            <td>
              {% if track.explicit %}
              {{track.explicit}}
              {% endif %}
            </td>
            <td>
              {{track.runtime}}
            </td>
            <td>
              {{track.popularity}}
            </td>
            <td>
              <audio controls>
              	<source src={{track.preview_url}} type="audio/mpeg">
              </audio>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% if next_page_token %}
  <nav>
    <ul class="pager">
      <li><a href="?page_token={{next_page_token}}">More</a></li>
    </ul>
  </nav>
  {% endif %}

  {% endblock %}
