
{% extends "base.html" %}

{% block background %}
<div id="bckgrnd">
</div>
{% endblock %}

{% block menubar %}
<div id="wrapper">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/index.html">NotSpotify</a>
      </div>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav">
          <li><a href="/index.html">Home</a></li>
          <li class="active"><a href="/artists">Artists</a></li>
          <li><a href="/albums">Albums</a></li>
          <li><a href="/tracks">Tracks</a></li>
          <li><a href="/about.html">About</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <img class="img-responsive" src="{{track.artists[0].image_url}}">
    </div>
    <div class="col-md-6">
      <h1 class="text-success">{{track.name}}</h1>
      <h4 class="text-success">Explicit: <small>{{track.explicit}}</small></h4>
      <h4 class="text-success">Runtime: <small>{{track.runtime}}</small></h4>
      <h4 class="text-success">Popularity:</h4>
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" 
          aria-valuemin="0" aria-valuemax="100" style="width:{{track.popularity}}%">
        </div>
      </div>
    </div>
  </div>
</div>

<h2 class="text-success">Artist for: {{track.name}}</h2>
<div class="container">
  <table id="table0">
    <thead>
      <tr>
        <th></th>
        <th>
          Name
        </th>
        <th>
          Followers
        </th>
        <th>
          Popularity
        </th>

      </tr>
    </thead>
    <tbody>
      {% for artist in track.artists %}
      <tr class="clickable-row" data-href="/artist/{{artist.id}}">
        <td>
          <img class="img-rounded" width="100px" src="{{artist.image_url}}" />
        </td>
        <td>
          {{artist.name}}
        </td>
        <td>
          {{artist.followers}}
        </td>
        <td>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" 
            aria-valuemin="0" aria-valuemax="100" style="width:{{artist.popularity}}%">
          </div>
        </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
