<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/artists.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="../static/scripts/sort.js"></script>
</head>

<body>
  <div id="bckgrnd">
  </div>
<div class="wrapper">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">NotSpotify</a>
      </div>
      <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav">
          <li><a href="index.html">Home</a></li>
          <li class="active"><a href="artists.html">Artists</a></li>
          <li><a href="albums.html">Albums</a></li>
          <li><a href="tracks.html">Tracks</a></li>
          <li><a href="about.html">About</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <table id="table0">
      <thead>
        <tr>
          <th></th>
          <th onclick="sortCol(1)">Name</th>
          <th onclick="sortCol(2)">Followers</th>
          <th onclick="sortCol(3)">Popularity</th>
          <th>Genre</th>
          <th onclick="sortCol(5)"># of Albums Released</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img class="img-rounded" src="https://i.scdn.co/image/b86a3dbd77a8353647bff195d310d5eb1bd80af6" width="100px"></img></td>
          <td>Kanye West</td>
          <td>7000000</td>
          <td>1</td>
          <td>Hip-Hop</td>
          <td>8</td>
        </tr>
        <tr>
          <td><img class="img-rounded" src="https://i.scdn.co/image/84bbdb2b9c5033db3262d5781ea688e1d92e8701" width="100px"></img></td>
          <td>Monstercat</td>
          <td>2000000</td>
          <td>80</td>
          <td>EDM, House, Trance, Progressive House, Dubstep, Melodic Dubstep, Electro</td>
          <td>30</td>
        </tr>
        <tr>
          <td><img class="img-rounded" src="https://i.scdn.co/image/2f02687fa9425bdada5372bb354977daf3db4748" width="100px"></img></td>
          <td>Gregory Porter</td>
          <td>3000000</td>
          <td>50</td>
          <td>Jazz, Blues, Soul, Gospel</td>
          <td>7</td>
        </tr>
      </tbody>
    </table>
  </div>


</div>
</body>

</html>
