<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/artists.css">
  <link rel="stylesheet" href="../static/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script src="../static/scripts/sort.js"></script>
  <script src="../static/scripts/app.js"></script>
</head>

<body ng-app="nsApp">
  <div id="bckgrnd">
  </div>
  <div class="wrapper">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">NotSpotify</a>
        </div>
        <div class="collapse navbar-collapse" id="navigation">
          <ul class="nav navbar-nav">
            <li><a href="index.html">Home</a></li>
            <li class="active"><a href="artists.html">Artists</a></li>
            <li><a href="albums.html">Albums</a></li>
            <li><a href="tracks.html">Tracks</a></li>
            <li><a href="about.html">About</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container" ng-controller="artistsController">
      <table id="table0">
        <thead>
          <tr>
            <th></th>
            <th onclick="sortCol(1)">Name</th>
            <th onclick="sortCol(2)">Followers</th>
            <th onclick="sortCol(3)">Popularity</th>
            <th>Genre</th>
            <th onclick="sortCol(5)"># of Albums Released</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="artist in artists">
            <td><img class="img-rounded" ng-src="{{'{{artist.image_url}}'}}" width="100px"></img></td>
            <td>{{'{{artist.name}}'}}</td>
            <td>{{'{{artist.followers.total}}'}}</td>
            <td>{{'{{artist.popularity}}'}}</td>
            <td>TBD</td>
            <td>TBD</td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>
</body>

</html>
